<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NEW CHEEP</title>
  </head>
  <body>
    <div id="makecheep">
      <form action="/newpost" method="post">
        <input id="cheep-box" type="text" name="cheeptext">
        <input id="cheep-button" type="submit" value="Post">
      </form>
    </div>
    <form action="/signin/new?_method=DELETE" method="post">
      <input id="sign-out-button" type="submit" value="Sign Out">
    </form>
  </body>
</html>
