<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, maximum-scale=1">
 <title></title>
</head>
<body>
    <p>Please sign up!</p>
    <form action="/signup/confirmation" method="POST">
    email
    <input id= "email-textbox" type="text" name="email" placeholder="joebloggs@hotmail.com" >
    name
    <input id= "name-textbox" type="text" name="name"  >
    username
    <input id= "username-textbox" type="text" name="username"  >
    password
    <input id="password-textbox" type="text" name="password">
    <input id="submit-button" type="submit" value="Submit">
    </form>
    <p><%= errors %></p>
</body>
</html>
